USE [master]
GO
/****** Object:  Database [CinemaDB_Core]    Script Date: 10/11/2025 10:50:04 AM ******/
CREATE DATABASE [CinemaDB_Core]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaDB_Core', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CinemaDB_Core.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaDB_Core_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CinemaDB_Core_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaDB_Core].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaDB_Core]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[actor_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[avatar_url] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[actor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advertisement]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisement](
	[ad_id] [int] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NOT NULL,
	[ad_title] [varchar](255) NOT NULL,
	[ad_type] [varchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[cost] [decimal](10, 2) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [varchar](100) NOT NULL,
	[table_name] [varchar](100) NOT NULL,
	[record_id] [int] NULL,
	[timestamp] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[voucher_id] [int] NULL,
	[showtime_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[booking_code] [varchar](50) NOT NULL,
	[booking_time] [datetime2](7) NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cast]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cast](
	[cast_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[character] [varchar](255) NULL,
	[gender] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[cast_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[cinema_id] [int] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NOT NULL,
	[cinema_name] [varchar](255) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cinema_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[contract_id] [int] IDENTITY(1,1) NOT NULL,
	[manager_id] [int] NOT NULL,
	[partner_id] [int] NOT NULL,
	[contract_number] [varchar](50) NOT NULL,
	[contract_type] [varchar](50) NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[commission_rate] [decimal](5, 2) NULL,
	[status] [varchar](50) NOT NULL,
	[signed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[address] [varchar](255) NULL,
	[loyalty_points] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailChangeRequests]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailChangeRequests](
	[RequestId] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[NewEmail] [nvarchar](255) NULL,
	[CurrentCodeHash] [varbinary](64) NULL,
	[NewCodeHash] [varbinary](64) NULL,
	[CurrentCodeExpiresAt] [datetime2](7) NULL,
	[NewCodeExpiresAt] [datetime2](7) NULL,
	[CurrentVerified] [bit] NOT NULL,
	[NewVerified] [bit] NOT NULL,
	[IsConsumed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailVerificationToken]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailVerificationToken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token_hash] [varbinary](64) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[consumed_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[role_type] [varchar](50) NOT NULL,
	[hire_date] [date] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameShow]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameShow](
	[gameshow_id] [int] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[gameshow_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[manager_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[department] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[manager_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[movie_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[genre] [varchar](100) NULL,
	[duration_minutes] [int] NOT NULL,
	[director] [varchar](255) NULL,
	[language] [varchar](50) NULL,
	[country] [varchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[poster_url] [nvarchar](max) NULL,
	[production] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[premiereDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
	[trailer_url] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieActor]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieActor](
	[movie_id] [int] NOT NULL,
	[actor_id] [int] NOT NULL,
	[role] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[actor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieSubmission]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieSubmission](
	[submission_id] [int] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NOT NULL,
	[movie_id] [int] NULL,
	[status] [varchar](50) NOT NULL,
	[submitted_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[submission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[partner_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[manager_id] [int] NOT NULL,
	[partner_name] [varchar](255) NOT NULL,
	[tax_code] [varchar](50) NULL,
	[address] [varchar](255) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](255) NULL,
	[commission_rate] [decimal](5, 2) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[partner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerReport]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerReport](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NOT NULL,
	[report_date] [date] NOT NULL,
	[total_revenue] [decimal](12, 2) NOT NULL,
	[net_revenue] [decimal](12, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetCode]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[ExpiredAt] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[VerifiedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[method] [varchar](50) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[paid_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RatingFilm]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RatingFilm](
	[rating_id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[rating_star] [int] NOT NULL,
	[rating_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rating_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](255) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RevenueReport]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevenueReport](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[report_date] [date] NOT NULL,
	[ticket_revenue] [decimal](12, 2) NOT NULL,
	[service_revenue] [decimal](12, 2) NOT NULL,
	[total_tickets] [int] NOT NULL,
	[occupancy_rate] [decimal](5, 2) NOT NULL,
	[generated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screen]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screen](
	[screen_id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[screen_name] [varchar](100) NOT NULL,
	[screen_type] [varchar](50) NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[screen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[seat_id] [int] IDENTITY(1,1) NOT NULL,
	[screen_id] [int] NOT NULL,
	[row_code] [varchar](2) NOT NULL,
	[seat_number] [int] NOT NULL,
	[seat_type] [varchar](50) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatMap]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatMap](
	[seat_map_id] [int] IDENTITY(1,1) NOT NULL,
	[screen_id] [int] NOT NULL,
	[layout_data] [nvarchar](max) NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seat_map_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[service_name] [varchar](255) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[is_available] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceOrder]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceOrder](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[booking_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtime]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtime](
	[showtime_id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[screen_id] [int] NOT NULL,
	[movie_id] [int] NOT NULL,
	[show_datetime] [datetime2](7) NOT NULL,
	[base_price] [decimal](10, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[showtime_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTicket]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTicket](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NULL,
	[customer_id] [int] NULL,
	[subject] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemAdmin]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemAdmin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[admin_level] [varchar](50) NULL,
	[permissions] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[showtime_id] [int] NOT NULL,
	[seat_id] [int] NOT NULL,
	[booking_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[user_type] [varchar](50) NOT NULL,
	[fullname] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[email_confirmed] [bit] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[AvatarUrl] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 10/11/2025 10:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[voucher_code] [varchar](50) NOT NULL,
	[discount_val] [decimal](10, 2) NOT NULL,
	[valid_from] [date] NOT NULL,
	[valid_to] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actor] ON 

INSERT [dbo].[Actor] ([actor_id], [name], [avatar_url]) VALUES (1, N'Tim Robbins', N'https://media.themoviedb.org/t/p/w300_and_h450_bestv2/djLVFETFTvPyVUdrd7aLVykobof.jpg')
INSERT [dbo].[Actor] ([actor_id], [name], [avatar_url]) VALUES (2, N'Morgan Freeman', N'https://media.themoviedb.org/t/p/w300_and_h450_bestv2/jPsLqiYGSofU4s6BjrxnefMfabb.jpg')
INSERT [dbo].[Actor] ([actor_id], [name], [avatar_url]) VALUES (3, N'Bob Gunton', N'https://media.themoviedb.org/t/p/w300_and_h450_bestv2/ulbVvuBToBN3aCGcV028hwO0MOP.jpg')
SET IDENTITY_INSERT [dbo].[Actor] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
INSERT [dbo].[MovieActor] ([movie_id], [actor_id], [role]) VALUES (1, 1, NULL)
INSERT [dbo].[MovieActor] ([movie_id], [actor_id], [role]) VALUES (1, 2, NULL)
INSERT [dbo].[MovieActor] ([movie_id], [actor_id], [role]) VALUES (1, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[PasswordResetCode] ON 

INSERT [dbo].[PasswordResetCode] ([Id], [UserId], [Code], [ExpiredAt], [IsUsed], [IsVerified], [CreatedAt], [VerifiedAt]) VALUES (1, 12, N'235006', CAST(N'2025-10-07T16:17:27.267' AS DateTime), 1, 1, CAST(N'2025-10-07T16:07:27.370' AS DateTime), CAST(N'2025-10-07T16:08:46.107' AS DateTime))
SET IDENTITY_INSERT [dbo].[PasswordResetCode] OFF
GO
SET IDENTITY_INSERT [dbo].[RatingFilm] ON 

INSERT [dbo].[RatingFilm] ([rating_id], [movie_id], [user_id], [comment], [rating_star], [rating_at]) VALUES (25, 1, 11, N'Rất cảm động và sâu sắc. Diễn xuất tuyệt vời, xứng đáng 5 sao.', 5, CAST(N'2025-09-18T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[RatingFilm] ([rating_id], [movie_id], [user_id], [comment], [rating_star], [rating_at]) VALUES (26, 1, 12, N'Mình thấy chậm và hơi dài, nhưng thông điệp tốt. 4 sao.', 4, CAST(N'2025-09-20T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[RatingFilm] ([rating_id], [movie_id], [user_id], [comment], [rating_star], [rating_at]) VALUES (27, 2, 11, N'Kịch bản xuất sắc, diễn xuất đỉnh. Một kiệt tác.', 5, CAST(N'2025-09-21T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RatingFilm] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [Token], [UserId], [CreatedAt], [ExpiresAt], [IsRevoked]) VALUES (1, N'3e804944-8407-4644-841b-2bbdf64404fb', 11, CAST(N'2025-10-07T14:53:35.8499379' AS DateTime2), CAST(N'2025-10-14T14:53:35.8499792' AS DateTime2), 1)
INSERT [dbo].[RefreshTokens] ([Id], [Token], [UserId], [CreatedAt], [ExpiresAt], [IsRevoked]) VALUES (2, N'3ca488d3-942e-488b-b0e9-7d60b7ddd527', 11, CAST(N'2025-10-07T14:54:22.6932865' AS DateTime2), CAST(N'2025-10-14T14:54:22.6932866' AS DateTime2), 1)
INSERT [dbo].[RefreshTokens] ([Id], [Token], [UserId], [CreatedAt], [ExpiresAt], [IsRevoked]) VALUES (3, N'd9065c21-dfe6-4ea4-8d52-ecab60c52179', 11, CAST(N'2025-10-07T14:54:22.7245159' AS DateTime2), CAST(N'2025-10-14T14:54:22.7245161' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [email], [password], [phone], [user_type], [fullname], [is_active], [created_at], [email_confirmed], [Username], [AvatarUrl]) VALUES (1, N'nguyenvana@example.com', N'AQAAAAIAAYagAAAAEKGyWrVFg55wh7fclaXntz6Xs+agSag5kEns8gYHUumfhL+xDVAtuy4fJV0Uz9RAug==', NULL, N'User', N'Nguyen Van A', 1, CAST(N'2025-10-04T06:44:39.1767359' AS DateTime2), 0, N'nguyenvana', N'https://tse2.mm.bing.net/th/id/OIP.Ai9h_6D7ojZdsZnE4_6SDgAAAA?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3')
INSERT [dbo].[User] ([user_id], [email], [password], [phone], [user_type], [fullname], [is_active], [created_at], [email_confirmed], [Username], [AvatarUrl]) VALUES (11, N'duythangn510@gmail.com', N'AQAAAAIAAYagAAAAELdKwticWB0Byvm0Dbd6kt/1KzpI7bHVMAFmGrTe9IT7D6uXQS4hLmEZFFFrHiJ/uQ==', N'0979572919', N'User', N'string', 1, CAST(N'2025-10-07T12:53:29.9525661' AS DateTime2), 1, N'ngocphamx1x3', N'string')
INSERT [dbo].[User] ([user_id], [email], [password], [phone], [user_type], [fullname], [is_active], [created_at], [email_confirmed], [Username], [AvatarUrl]) VALUES (12, N'ngocphamx1x3@gmail.com', N'AQAAAAIAAYagAAAAEG+93KJj0R57+JCr3BxJqs7EMfXqBro91+yKZhzvl3zoA/KOXd57v6wa2ydCMheTcw==', NULL, N'User', N'Quang Ngoc', 1, CAST(N'2025-10-07T15:16:03.0955526' AS DateTime2), 1, N'ngocnehihi21', N'https://tse2.mm.bing.net/th/id/OIP.Ai9h_6D7ojZdsZnE4_6SDgAAAA?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Booking__FF29040F62E5CCE1]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[Booking] ADD UNIQUE NONCLUSTERED 
(
	[booking_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Contract__1CA37CCEA4A0D967]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[Contract] ADD UNIQUE NONCLUSTERED 
(
	[contract_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Customer__B9BE370E16E6F77E]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Employee__B9BE370E1BB01CC2]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Manager__B9BE370EE822C7B9]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[Manager] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Partner__B9BE370EF9A5B03F]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[Partner] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Payment__5DE3A5B037C84034]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[Payment] ADD UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Seat]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[Seat] ADD  CONSTRAINT [UQ_Seat] UNIQUE NONCLUSTERED 
(
	[screen_id] ASC,
	[row_code] ASC,
	[seat_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__SeatMap__CC19B67B52ED2058]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[SeatMap] ADD UNIQUE NONCLUSTERED 
(
	[screen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__SystemAd__B9BE370E34CD7A79]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[SystemAdmin] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Ticket]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[Ticket] ADD  CONSTRAINT [UQ_Ticket] UNIQUE NONCLUSTERED 
(
	[showtime_id] ASC,
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E4FE0D5744]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E616487E088E3]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__217310695E4DF069]    Script Date: 10/11/2025 10:50:04 AM ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[voucher_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (sysutcdatetime()) FOR [timestamp]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (sysutcdatetime()) FOR [booking_time]
GO
ALTER TABLE [dbo].[Cinema] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [loyalty_points]
GO
ALTER TABLE [dbo].[EmailChangeRequests] ADD  DEFAULT ((0)) FOR [CurrentVerified]
GO
ALTER TABLE [dbo].[EmailChangeRequests] ADD  DEFAULT ((0)) FOR [NewVerified]
GO
ALTER TABLE [dbo].[EmailChangeRequests] ADD  DEFAULT ((0)) FOR [IsConsumed]
GO
ALTER TABLE [dbo].[EmailChangeRequests] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmailVerificationToken] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Movie] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[MovieSubmission] ADD  DEFAULT (sysutcdatetime()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[Partner] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Partner] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[PartnerReport] ADD  DEFAULT ((0)) FOR [total_revenue]
GO
ALTER TABLE [dbo].[PartnerReport] ADD  DEFAULT ((0)) FOR [net_revenue]
GO
ALTER TABLE [dbo].[PartnerReport] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[PasswordResetCode] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[PasswordResetCode] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[PasswordResetCode] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (sysutcdatetime()) FOR [paid_at]
GO
ALTER TABLE [dbo].[RatingFilm] ADD  DEFAULT (sysutcdatetime()) FOR [rating_at]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[RevenueReport] ADD  DEFAULT ((0)) FOR [ticket_revenue]
GO
ALTER TABLE [dbo].[RevenueReport] ADD  DEFAULT ((0)) FOR [service_revenue]
GO
ALTER TABLE [dbo].[RevenueReport] ADD  DEFAULT ((0)) FOR [total_tickets]
GO
ALTER TABLE [dbo].[RevenueReport] ADD  DEFAULT ((0)) FOR [occupancy_rate]
GO
ALTER TABLE [dbo].[RevenueReport] ADD  DEFAULT (sysutcdatetime()) FOR [generated_at]
GO
ALTER TABLE [dbo].[Screen] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[SeatMap] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[SupportTicket] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[SystemAdmin] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [email_confirmed]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_AvatarUrl]  DEFAULT ('https://tse2.mm.bing.net/th/id/OIP.Ai9h_6D7ojZdsZnE4_6SDgAAAA?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3') FOR [AvatarUrl]
GO
ALTER TABLE [dbo].[Advertisement]  WITH CHECK ADD  CONSTRAINT [FK_Ad_Partner] FOREIGN KEY([partner_id])
REFERENCES [dbo].[Partner] ([partner_id])
GO
ALTER TABLE [dbo].[Advertisement] CHECK CONSTRAINT [FK_Ad_Partner]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Customer]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Showtime] FOREIGN KEY([showtime_id])
REFERENCES [dbo].[Showtime] ([showtime_id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Showtime]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Voucher] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Voucher] ([voucher_id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Voucher]
GO
ALTER TABLE [dbo].[Cinema]  WITH CHECK ADD  CONSTRAINT [FK_Cinema_Partner] FOREIGN KEY([partner_id])
REFERENCES [dbo].[Partner] ([partner_id])
GO
ALTER TABLE [dbo].[Cinema] CHECK CONSTRAINT [FK_Cinema_Partner]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Manager] FOREIGN KEY([manager_id])
REFERENCES [dbo].[Manager] ([manager_id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Manager]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Partner] FOREIGN KEY([partner_id])
REFERENCES [dbo].[Partner] ([partner_id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Partner]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_User]
GO
ALTER TABLE [dbo].[EmailChangeRequests]  WITH CHECK ADD  CONSTRAINT [FK_EmailChangeRequests_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[EmailChangeRequests] CHECK CONSTRAINT [FK_EmailChangeRequests_User]
GO
ALTER TABLE [dbo].[EmailVerificationToken]  WITH CHECK ADD  CONSTRAINT [FK_EmailVerificationToken_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[EmailVerificationToken] CHECK CONSTRAINT [FK_EmailVerificationToken_User]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Partner] FOREIGN KEY([partner_id])
REFERENCES [dbo].[Partner] ([partner_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Partner]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_User]
GO
ALTER TABLE [dbo].[GameShow]  WITH CHECK ADD  CONSTRAINT [FK_GameShow_Partner] FOREIGN KEY([partner_id])
REFERENCES [dbo].[Partner] ([partner_id])
GO
ALTER TABLE [dbo].[GameShow] CHECK CONSTRAINT [FK_GameShow_Partner]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_Manager_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_Manager_User]
GO
ALTER TABLE [dbo].[MovieActor]  WITH CHECK ADD FOREIGN KEY([actor_id])
REFERENCES [dbo].[Actor] ([actor_id])
GO
ALTER TABLE [dbo].[MovieActor]  WITH CHECK ADD FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movie] ([movie_id])
GO
ALTER TABLE [dbo].[MovieSubmission]  WITH CHECK ADD  CONSTRAINT [FK_MovieSubmission_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movie] ([movie_id])
GO
ALTER TABLE [dbo].[MovieSubmission] CHECK CONSTRAINT [FK_MovieSubmission_Movie]
GO
ALTER TABLE [dbo].[MovieSubmission]  WITH CHECK ADD  CONSTRAINT [FK_MovieSubmission_Partner] FOREIGN KEY([partner_id])
REFERENCES [dbo].[Partner] ([partner_id])
GO
ALTER TABLE [dbo].[MovieSubmission] CHECK CONSTRAINT [FK_MovieSubmission_Partner]
GO
ALTER TABLE [dbo].[Partner]  WITH CHECK ADD  CONSTRAINT [FK_Partner_Manager] FOREIGN KEY([manager_id])
REFERENCES [dbo].[Manager] ([manager_id])
GO
ALTER TABLE [dbo].[Partner] CHECK CONSTRAINT [FK_Partner_Manager]
GO
ALTER TABLE [dbo].[Partner]  WITH CHECK ADD  CONSTRAINT [FK_Partner_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Partner] CHECK CONSTRAINT [FK_Partner_User]
GO
ALTER TABLE [dbo].[PartnerReport]  WITH CHECK ADD  CONSTRAINT [FK_PartnerReport_Partner] FOREIGN KEY([partner_id])
REFERENCES [dbo].[Partner] ([partner_id])
GO
ALTER TABLE [dbo].[PartnerReport] CHECK CONSTRAINT [FK_PartnerReport_Partner]
GO
ALTER TABLE [dbo].[PasswordResetCode]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetCode_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[PasswordResetCode] CHECK CONSTRAINT [FK_PasswordResetCode_User]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[RatingFilm]  WITH CHECK ADD  CONSTRAINT [FK_RatingFilm_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movie] ([movie_id])
GO
ALTER TABLE [dbo].[RatingFilm] CHECK CONSTRAINT [FK_RatingFilm_Movie]
GO
ALTER TABLE [dbo].[RatingFilm]  WITH CHECK ADD  CONSTRAINT [FK_RatingFilm_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[RatingFilm] CHECK CONSTRAINT [FK_RatingFilm_User]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users]
GO
ALTER TABLE [dbo].[RevenueReport]  WITH CHECK ADD  CONSTRAINT [FK_RevenueReport_Cinema] FOREIGN KEY([cinema_id])
REFERENCES [dbo].[Cinema] ([cinema_id])
GO
ALTER TABLE [dbo].[RevenueReport] CHECK CONSTRAINT [FK_RevenueReport_Cinema]
GO
ALTER TABLE [dbo].[Screen]  WITH CHECK ADD  CONSTRAINT [FK_Screen_Cinema] FOREIGN KEY([cinema_id])
REFERENCES [dbo].[Cinema] ([cinema_id])
GO
ALTER TABLE [dbo].[Screen] CHECK CONSTRAINT [FK_Screen_Cinema]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Screen] FOREIGN KEY([screen_id])
REFERENCES [dbo].[Screen] ([screen_id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_Screen]
GO
ALTER TABLE [dbo].[SeatMap]  WITH CHECK ADD  CONSTRAINT [FK_SeatMap_Screen] FOREIGN KEY([screen_id])
REFERENCES [dbo].[Screen] ([screen_id])
GO
ALTER TABLE [dbo].[SeatMap] CHECK CONSTRAINT [FK_SeatMap_Screen]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_Cinema] FOREIGN KEY([cinema_id])
REFERENCES [dbo].[Cinema] ([cinema_id])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_Cinema]
GO
ALTER TABLE [dbo].[ServiceOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOrder_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[ServiceOrder] CHECK CONSTRAINT [FK_ServiceOrder_Booking]
GO
ALTER TABLE [dbo].[ServiceOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOrder_Service] FOREIGN KEY([service_id])
REFERENCES [dbo].[Service] ([service_id])
GO
ALTER TABLE [dbo].[ServiceOrder] CHECK CONSTRAINT [FK_ServiceOrder_Service]
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD  CONSTRAINT [FK_Showtime_Cinema] FOREIGN KEY([cinema_id])
REFERENCES [dbo].[Cinema] ([cinema_id])
GO
ALTER TABLE [dbo].[Showtime] CHECK CONSTRAINT [FK_Showtime_Cinema]
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD  CONSTRAINT [FK_Showtime_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movie] ([movie_id])
GO
ALTER TABLE [dbo].[Showtime] CHECK CONSTRAINT [FK_Showtime_Movie]
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD  CONSTRAINT [FK_Showtime_Screen] FOREIGN KEY([screen_id])
REFERENCES [dbo].[Screen] ([screen_id])
GO
ALTER TABLE [dbo].[Showtime] CHECK CONSTRAINT [FK_Showtime_Screen]
GO
ALTER TABLE [dbo].[SystemAdmin]  WITH CHECK ADD  CONSTRAINT [FK_SystemAdmin_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[SystemAdmin] CHECK CONSTRAINT [FK_SystemAdmin_User]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Booking]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Seat] FOREIGN KEY([seat_id])
REFERENCES [dbo].[Seat] ([seat_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Seat]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Showtime] FOREIGN KEY([showtime_id])
REFERENCES [dbo].[Showtime] ([showtime_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Showtime]
GO
USE [master]
GO
